@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'RV-Harmonia';
}

*, ::after, ::before {
  box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  border-radius: 100%;
}

.searchIcon:hover::before {
  content: 'Tìm kiếm sản phẩm';
  position: absolute;
  width: 120px;
  top: 0;
  transform: translate(15px, 17px);
  border: 1px solid rgb(111, 107, 107);
  padding: 4px;
  font-size: 12px;
  text-align: center;
  z-index: 10;
}

.eysIcon:hover::before {
  content: 'Theo dõi đơn hàng';
  position: absolute;
  width: 120px;
  top: 0;
  transform: translate(15px, 17px);
  border: 1px solid rgb(111, 107, 107);
  padding: 4px;
  font-size: 12px;
  text-align: center;
  z-index: 10;
}

.bagIcon:hover::before {
  content: 'Giỏ hàng';
  position: absolute;
  width: 60px;
  top: 0;
  transform: translate(15px, 17px);
  border: 1px solid rgb(111, 107, 107);
  padding: 4px;
  font-size: 12px;
  text-align: center;
  z-index: 10;
}

.personIcon:hover::before {
  content: 'Cá nhân';
  position: absolute;
  width: 60px;
  top: 0;
  transform: translate(15px, 17px);
  border: 1px solid rgb(111, 107, 107);
  padding: 4px;
  font-size: 12px;
  text-align: center;
  z-index: 10;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  opacity: 0;
  color: black;
}
.swiper .swiper-wrapper{
  width: 80% !important;
}


.swiper-initialized:hover .swiper-button-next::after,
.swiper-initialized:hover .swiper-button-prev::after {
  opacity: 10;
}

.swiper-button-prev:hover::after {
  color: red;
}

.swiper-button-next:hover::after {
  color: red;
}


.hiddenContent:hover+span.iconPhone {
  opacity: 1;

}

.animate-scale:hover::before {
  display: none;
}

.animate-scale::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  animation: ping 2s linear infinite;
  border: 1px solid red;
  transition: all 1s;
}

@keyframes ping {
  from {
    transform: scale(1);
    opacity: 1;
    border: 1px solid red;
  }

  16.5% {
    transform: scale(1.20);
    opacity: 1;
    border: 1px solid red;

    transition-timing-function: ease-in-out;
  }

  33% {
    transform: scale(1.20);
    opacity: 1;
    border: 1px solid transparent;

    transition-timing-function: ease-in-out;
  }

  49.5% {
    transform: scale(1.35);
    opacity: 1;
    border: 1px solid red;

    transition-timing-function: ease-in-out;
  }

  66% {
    transform: scale(1.35);
    opacity: 1;
    border: 1px solid white;

    transition-timing-function: ease-in-out;
  }

  88.5% {
    transform: scale(1.50);
    opacity: 1;
    border: 1px solid red;

    transition-timing-function: ease-in-out;
  }

  100% {
    transform: scale(1.50);
    opacity: 1;
    border: 1px solid white;

    transition-timing-function: ease-in-out;
  }

  /* 87.5% {
    transform: scale(1.65);
    opacity: 1;
    border: 1px solid red;
   
    transition-timing-function: ease-in-out;
  } */
}

/* slide  bar*/

.slick-arrow.slick-next:before,
.slick-arrow.slick-prev:before{
  display: none;
}

.slick-arrow.slick-next svg,
.slick-arrow.slick-prev svg{
  width: 30px;
  height: 30px;
  color: #000;
}
.slick-arrow.slick-prev:hover svg{
  color: #be3544;
}

.slick-dots li button:before{
  display: none;
}
.slick-dots li button{
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #be3544;
}
.slick-dots .slick-active button{
  background-color: #be3544;
}

/* san-pham [slug].js */

.MsoNormal span{
  /* margin-bottom: 5px; */
  line-height: 2;
}
/* -------------------- pages/index.js */
.slide-home:hover .slick-arrow{
  opacity: 1;
}
.slide-home .slick-arrow{
  width: 50px;
  height: 50px;
}
.slide-home .slick-arrow:hover{
  background-color: white;
}
.slide-home .slick-arrow svg{
  margin: auto;
  margin-top: 10px;
}
.slide-home .slick-prev{
  left: 8px;
  z-index: 100;
  opacity: 0;
}
.slide-home .slick-next{
  right: 18px;
  z-index: 100;
  opacity: 0;
}
.center .slick-list{
  padding: 0 70;
  transition: all;
}
.center .slick-list .slick-track .slick-slide{
  transform: scale(0.8);
  opacity: 0.4;
}
.center .slick-list .slick-track .slick-current{
  transition: all;
  /* outline: none; */
  opacity: 1;
  transform: scale(1);
}

.center .slick-prev{
  left: 8px;
  z-index: 100;
}
.center .slick-next{
  right: 18px;
  z-index: 100;
}